
/*** NAVIGATION BAR ***/

#nav_wrap {
background: rgb(145, 118, 255);
}

#nav_wrap_other {
background:  rgb(145, 118, 255);
}

ul#nav li > a, ul#nav li .active > a:hover, ul#nav li .active > a:focus {
color: #ffffff;
}

ul#nav li > a, ul#nav li .active > a:hover, ul#nav li .active > a:active {
text-shadow: 1px 1px 1px black;
}

ul#nav li a:hover {
	text-shadow: 1px 1px 1px black;
}

ul#nav li > .active > a:focus,
	.active {background-color: #7F00FF;
}
	
ul#nav li a:hover {color: #fff; background-color: #551A8B;
}

/*** LOGO ***/

div.header .logo a, .contact .contact_wrap .logo a {
	text-shadow: none;
}