/*!
		* Custom Coloring for Site.
 */

a,
a:hover,
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {color: #00B22C;}

.btn-success,
.btn-success:hover, 
.btn-success:focus, 
.btn-success:active, 
.btn-success.active, 
.open .dropdown-toggle.btn-success,
#header .dropdown,
#header .dropdown .dropdown-menu {background: #00B22C;}

#header .nav>li>a:hover, 
#header .nav>li>a:focus, 
#header .nav>li>a.active {border-bottom: 5px solid #00B22C;}


#mid_section .title {background-color: #33C156;}
#content .pages ul.events li ul.inner li .left .img_holder .fill {background-color: #00B22C;}

.contact_form .btn {background: #33C156;}

#content .pages ul.news-new li.with-pic .left,
#content .pages ul.news-new li.without-pic .right {color: #00B22C;}

#header .navbar .dropdown-menu.inner>li>a {color: #00B22C;}

#header .navbar .dropdown-menu.inner>li>a:hover, 
#header .navbar .dropdown-menu.inner>li>a:focus {color: #44cd66;}

#header .navbar .dropdown-menu.inner {border-top: 5px solid #00B22C;}
#header .navbar .dropdown-menu.inner:before {border-top: 8px solid #00B22C;}

@media only screen and (max-width: 767px) {

}

.modal .inquire-header {background: url(../../img/bg_ban.png) repeat #33C156;}
.modal .inquire-holder .btn {background: #33C156;}
