/*!
		* Custom Coloring for Site.
 */

a,
a:hover,
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {color: #FFC926;}

.btn-success,
.btn-success:hover, 
.btn-success:focus, 
.btn-success:active, 
.btn-success.active, 
.open .dropdown-toggle.btn-success,
#header .dropdown,
#header .dropdown .dropdown-menu {background: #FFC926;}

#header .nav>li>a:hover, 
#header .nav>li>a:focus, 
#header .nav>li>a.active {border-bottom: 5px solid #FFC926;}


#mid_section .title {background: url(../../img/bg_ban_orange.png) repeat #FFC926;}
#content .pages ul.events li ul.inner li .left .img_holder .fill {background-color: #FFC926;}

.contact_form .btn {background: #FFC926;}

#content .pages ul.news-new li.with-pic .left,
#content .pages ul.news-new li.without-pic .right {color: #FFC926;}

#header .navbar .dropdown-menu.inner>li>a {color: #FFC926;}

#header .navbar .dropdown-menu.inner>li>a:hover, 
#header .navbar .dropdown-menu.inner>li>a:focus {color: #fdd96c;}

#header .navbar .dropdown-menu.inner {border-top: 5px solid #FFC926;}
#header .navbar .dropdown-menu.inner:before {border-top: 8px solid #FFC926;}

@media only screen and (max-width: 767px) {

}

.modal .inquire-header {background: url(../../img/bg_ban.png) repeat #FFC926;}
.modal .inquire-holder .btn {background: #FFC926;}
