

<!DOCTYPE html>
<html lang="en">
	<!-- 
	This is the layout for the back-end.
	-->
	<head>
		<meta charset="utf-8">
		<title>{$title}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		
		<!-- Reset -->
		<link href="{$assets}css/reset.css" rel="stylesheet">
		<!-- Grids -->
		<link href="{$assets}css/960.css" rel="stylesheet">
		<!-- Actual Style / LessCSS -->
		<link href="{$assets}css/theme.css" rel="stylesheet/less" type="text/css">
		<!-- End/Fix -->
		<link href="{$assets}css/end.css" rel="stylesheet">
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<!-- jQuery -->
		<script src="{$assets}js/jquery-1.8.2.js"></script>
		<!-- LessCSS -->
		<script src="{$assets}js/less-1.3.0.min.js"></script>
		<!-- Toogle Widget -->
		<script src="{$assets}js/toggle.js"></script>
		
	</head>
	<body>
		<div class="header">
			<div class="container_12">
				<div class="grid_12">
					<div class="logo"></div>
					<ul class="inline menu left">
						<li {{if app.name=="index"}}class="active"{{endif}}><a href="{$root}index">Home</a></li>
						<li class="sep">/</li>
						<li {{if app.name=="index"}}class="active"{{endif}}><a href="{$root}gallery">Gallery</a></li>
						<!-- Display the widget pages in the menu -->
						{{ for pagename,pageinfo in widgets.pages }}
							<li class="sep">/</li>
							<li {{if app.name==pagename}}class="active"{{endif}}><a href="{$root}{$pagename}">{$pageinfo.label}</a></li>
						{{ endfor }}
					</ul>
				</div>
			</div>
		</div>
		<div class="container_12">
			<div class="grid_12">
				<div class="layout_12">
					<div class="col_3">
						<!-- We list the backend interfaces in the side menu -->
						{{ for groupname, interfaces in backend }}
						<div class="box">
							<div class="header">
								<div class="label">{$groupname}</div>
							</div>
							<div class="content">
								<ul class="list menu">
									{{ for appname,interface in interfaces }}
									<li {{if app.name == appname}}class="active"{{endif}}>
										<a href="{$root}{$appname}">{$interface.label}</a>
									</li>
									{{ endfor }}
								</ul>
							</div>
						</div>
						{{ endfor }}
						
					</div>
					<div class="col_9">
						<!-- The view will be included here -->
						<!-- if we don't turn off "autoescape", the view's HTML would be encoded -->
						{{ autoescape false }}
						{$output}
						{{ endautoescape }}
					</div>
				</div>
				
			</div>
		</div>
		
		<div class="clearfix"></div>
		<div class="footer">
			<div class="container_12">
				<div class="grid_12">
					<ul class="inline menu">
						<li><a href="{$root}">Copyright &copy Company Name</a></li>
					</ul>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
			
	</body>
</html>