<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{$shared.title}{$data.name}</title>
        
        <meta name="viewport" content="initial-scale = 1,user-scalable=no,maximum-scale=1.0">
        {{ for metaname, metavalue in shared.metas }}
            <meta name="{$metaname}" content="{$metavalue}" />
        {{ endfor }}
        
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Podkova:400,700' rel='stylesheet' type='text/css'>
        <link href="{$assets}/css/bootstrap.min.css" rel="stylesheet">
        <link href="{$assets}/css/custom.css" rel="stylesheet">
        <link href="{$assets}/css/modify.css" rel="stylesheet">
        <link href="{$assets}/css/responsive.css" rel="stylesheet">
        <!--[if lt IE 9]>
            <link rel="stylesheet" media="all" type="text/css" href="assets/css/ie.css" />
        <![endif]-->        
        {{ for file in pageInfo.theme_styles }}
            <link href="{$assets}{$file}" rel="stylesheet/less" type="text/css">
        {{ endfor }}
        
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="assets/js/html5shiv.js"></script>
          <script src="assets/js/respond.min.js"></script>
        <![endif]-->
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-42761096-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
        
        {{if data.site_settings.embed }}
            {$data.site_settings.embed|raw}
        {{endif}}
        {{ if data.site_settings.analytics_switch == 1}}
             {{if data.site_settings.analytics }}
                {$data.site_settings.analytics|raw}
            {{endif}}
        {{endif}}
    </head>
    <body>    
    <!-- Wrap Properties
    ================================================== -->
    	{{ set bgimage = "" }}
    	{{ for album in data.albums.data }}
            {{ if album.name == "Cover Photos" }}
                {{ for cover in album.photos.data if loop.index <= 1 }}
                      {{if cover.images }}
                        {{ set bgimage = cover.images }}
                      {{ else }}
                      {$cover.source}
                       {{ set bgimage = cover.source }}
                      {{ endif }}
                     
                {{ endfor }}
            {{ endif }}
        {{ endfor }}
        
        <div id="wrap" style="background:url({$bgimage}) center center no-repeat;background-size:cover;">
        
        <div class="cover"></div>
                            
            <!-- Header
            ================================================== -->
            <div id="header">
            
                <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
                  
                    <div class="navbar-header">
                    	{{if data.site_settings.logo_switch == 0}}
                            <a class="navbar-brand" href="{{if pageinfo.type == 'e'}}{$pagename}{{else}}{$root}{$pagename}{{endif}}">{{ if data.name }}{$data.name}{{ endif }}</a>
                        {{else}}
                            <div class="logo-wrap">
                            <a href="{$root}">
                                <img title="{$data.name} logo" id="logoCustom" class="customLogo" src="{$data.site_settings.logo}"/>	
                            </a>
                            </div>
                        {{endif}}
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">&nbsp;</button>
                    </div>
                            
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                      <ul class="nav navbar-nav">
                      	{{ for pagename,pageinfo in widgets.pages_menu }}
                            {{ if pageinfo.children is empty }} 
                            <li>
                                    <a href="{{if pageinfo.type == 'e'}}{$pagename}{{else}}{$root}{$pagename}{{endif}}" id="widget{$loop.index}" {{if app.name==pagename}}class="active"{{endif}}><span>{$pageinfo.label|i18n(pageInfo.theme_settings.Lang)}</span></a>
                             </li>
                            {{ else }}
                                <li>
                                    <a class="dropdown-toggle disabled js-activated" data-toggle="dropdown" href="{{if pageinfo.type == 'e'}}{$pagename}{{else}}{$root}{$pagename}{{endif}}" id="widget{$loop.index}" {{if app.name==pagename}}class="active"{{endif}}><span>{$pageinfo.label|i18n(pageInfo.theme_settings.Lang)}</span></a>
                                    <ul class="dropdown-menu">
                                        {{ for pagename,pageinfo in pageinfo.children }}
                                            <li><a href="{{if pageinfo.type == 'e'}}{$pagename}{{else}}{$root}{$pagename}{{endif}}" id="widget{$loop.index}" {{if app.name==pagename}}class="active"{{endif}}><span>{$pageinfo.label|i18n(pageInfo.theme_settings.Lang)}</span></a></li>
                                        {{ endfor }}
                                    </ul>
                                 </li>
                            {{ endif }}
                        {{ endfor }}
                      </ul>
                    </div><!-- /.navbar-collapse -->
                    
                  
                </nav><!-- /.nav -->
                
                <div class="social">
                	<a href="http://facebook.com/{$pageInfo.pageid}" title="facebook" target="_blank" onclick="_gaq.push(['_trackEvent', 'Engagement', 'Social Icons', 'Facebook Icon']);">
                        <img alt="facebook" src="{$assets}img/facebook_icon.png">
                    </a>
                    {{ if data.site_settings.socialicons_switch == 1}}
                        {{if data.site_settings.twitter_link}}
                        <a href="{$data.site_settings.twitter_link}" target="_blank" title="twitter" onclick="_gaq.push(['_trackEvent', 'Engagement', 'Social Icons', 'Twitter Icon']);">
                            <img alt="twitter" src="{$assets}img/twitter_icon.png" >
                        </a>
                        {{endif}}
                        {{if data.site_settings.pinterest_link}}
                        <a href="{$data.site_settings.pinterest_link}" target="_blank" title="pinterest" onclick="_gaq.push(['_trackEvent', 'Engagement', 'Social Icons', 'Pinterest Icon']);">
                            <img alt="pinterest" src="{$assets}img/pinterest_icon.png" >
                        </a>
                        {{endif}}
                        {{if data.site_settings.instagram_link}}
                        <a href="{$data.site_settings.instagram_link}" target="_blank" title="instagram" onclick="_gaq.push(['_trackEvent', 'Engagement', 'Social Icons', 'Instagram Icon']);">
                            <img alt="pinterest" src="{$assets}img/instagram_icon.png" >
                        </a>
                        {{endif}}
                        {{if data.site_settings.tumblr_link}}
                        <a href="{$data.site_settings.tumblr_link}" target="_blank" title="tumblr" onclick="_gaq.push(['_trackEvent', 'Engagement', 'Social Icons', 'Tumblr Icon']);">
                            <img alt="tumblr" src="{$assets}img/tumblr_icon.png" >
                        </a>
                        {{endif}}
                        {{if data.site_settings.flickr_link}}
                        <a href="{$data.site_settings.flickr_link}" target="_blank" title="flickr" onclick="_gaq.push(['_trackEvent', 'Engagement', 'Social Icons', 'Flickr Icon']);">
                            <img alt="flickr" src="{$assets}img/flickr_icon.png" >
                        </a>
                        {{endif}}
                        {{if data.site_settings.youtube_link}}
                        <a href="{$data.site_settings.youtube_link}" target="_blank" title="youtube" onclick="_gaq.push(['_trackEvent', 'Engagement', 'Social Icons', 'Youtube Icon']);">
                            <img alt="youtube" src="{$assets}img/youtube_icon.png" >
                        </a>
                        {{endif}}
                    {{endif}}
                    {{ if data.phone and data.isPhoneValid }}
                    <a href="tel:{$data.phone}" class="call" onclick="_gaq.push(['_trackEvent', 'Contact', 'Call', 'Click-To-Call']);">Call</a>
                	{{endif}}
                </div><!-- /.social -->
                
                <div class="bottom hidden-sm hidden-xs">
                    <div class="left"><span class="text-left">&copy; {{ if data.name }}{$data.name}{{ endif }}</span></div>
                    <div class="right">
                        {{if data.site_settings.whitelabel_switch == 0}}
                        <span class="text-right">{$"Powered by"|i18n(pageInfo.theme_settings.Lang)} <a href="http://www.pagevamp.com" target="_blank">Pagevamp</a></span>
                        {{else}}
                        <span class="text-right">{$data.site_settings.whitelabel}</span>
                        {{endif}}
                    </div>
                </div><!-- /.bottom -->
                
            </div>
            
            {{ autoescape false }}
            	{$output}
            {{ endautoescape }}
            
           
           
            <!-- Footer
            ================================================== -->
            <div id="footer" class="hidden-md hidden-lg">
                <div class="left"><span class="text-left">&copy; {{ if data.name }}{$data.name}{{ endif }}</span></div>
                <div class="right">
                    {{if data.site_settings.whitelabel_switch == 0}}
                    <span class="text-right">{$"Powered by"|i18n(pageInfo.theme_settings.Lang)} <a href="http://www.pagevamp.com" target="_blank">Pagevamp</a></span>
                    {{else}}
                    <span class="text-right">{$data.site_settings.whitelabel}</span>
                    {{endif}}
                </div>
            </div>
        
        </div>
    
    {{ if app.name == 'gallery'}}
        <!-- Modal -->
        <div class="modal fade" id="inquireModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
    
                <div class="row">
                    <div class="col-lg-12">
                        
                        <div class="inquire-holder">
                        
                            <h2>{$"Inquire for Purchase"|i18n(pageInfo.theme_settings.Lang)}</h2>
                            
                            <div class="row">
                            
                                <div class="col-lg-7 col-md-7 col-sm-6">
                                    <div class="inquire-form">
                                        <div class="inquire-loader">
                                            <img src="{$assets}img/pagevamp_loaders.GIF" />
                                        </div>
                                        <form id="inquireform" action="{$root}gallery" method="post">
                                            <ul>
                                                <li>
                                                <input name="p_imgsrc" type="hidden" class="required">
                                                <input name="p_address" type="text" value="" style="display:none;" />
                                                <input name="p_name" type="text" placeholder="Name" class="required"></li>
                                                <li><input name="p_email" type="text" placeholder="Email" class="required email"></li>
                                                <li><input name="p_phone" type="text" placeholder="Phone (optional)" class=""></li>
                                                <li><textarea name="p_message" cols="" rows="" placeholder="Message" class="required"></textarea></li>
                                                <li><input name="p_inquirebtn" type="submit" class="btn" value="Send"></li>
                                            </ul>
                                        </form>
                                    </div><!-- /.inquire-form -->
                                </div>
                                
                                <div class="col-lg-5 col-md-5 col-sm-6">
                                    <div class="rel-img"><img src="" alt="" class="inquire-img"></div><!-- /.rel-img -->
                                </div>
                                
                            </div>
                        
                        </div><!-- /.inquire-holder -->
                        
                    </div>
                </div>
    
                <button class="close" data-dismiss="modal"></button>
                <button class="inquire initfancy" data-dismiss="modal">{$"BacK to Photo"|i18n(pageInfo.theme_settings.Lang)}</button>
                
              </div><!-- /.modal-body -->
            </div><!-- /.madal-content -->
          </div><!-- /.modal-dialog -->
        </div>
    {{ endif }}
    
    <!-- Javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{$assets}/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script src="{$assets}/js/less-1.3.0.min.js"></script>
    <script src="{$assets}/js/bootstrap.min.js"></script>
<script src="{$assets}js/bootstrap-hover-dropdown.js"></script>
    <script src="{$assets}js/jquery.fancybox.js"></script>
{{ if pageInfo.theme_settings.Store == 'enabled'}}
		<script type="text/javascript" src="{$assets}js/jquery.fancybox.js"></script>
    {{ else }}
        <script type="text/javascript" src="{$assets}js/__jquery.fancybox.js"></script>
    {{endif}}
    <script src="{$assets}/js/custom.js"></script> 
	<script>
		// very simple to use!
		$(document).ready(function() {
		  $('.js-activated').dropdownHover().dropdown();
		});
    </script>    
    
    </body>
</html>