
/*Logo*/
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

/*Headers same as logo*/


/*Text*/
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic);


body {font-family: 'Droid Serif', serif; font-weight: 400;}
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {font-family: 'Oswald', sans-serif; font-weight: 400;}

h1 {font-size: 36px;}
h2 {font-size: 32px;}
h3 {font-size: 28px;}
h4 {font-size: 24px;}
h5 {font-size: 20px;}
h6 {font-size: 16px;}

#header .head-title h2 {font-size: 32px;}

p {line-height: 1.8;}
#content .event-list .caption p {line-height: 1.2;}

#header .home-content h2,
#header h2 {font-family: 'Droid Serif', serif; font-weight: 400;}

#header .navbar-nav > li > a {font-family: 'Oswald', sans-serif; font-weight: 700;}

#header .navbar-brand,
#content .event-list .caption p a {font-family: 'Oswald', sans-serif; font-weight: 500;}

#blog ul.blog-post li .post .right h2 {font-family: 'Oswald', sans-serif; font-weight: 400; font-size: 32px;}

#blog ul.blog-post li .post .left {font-size: 14px;}

#content .event.desc a.rsvp {font-weight: 500;}

#footer {font-size: 16px;}

#content .contact .contact_form .btn {font-family: 'Oswald', sans-serif; font-weight: 500;}

#header .navbar .dropdown-menu>li>a {font-family: 'Oswald', sans-serif; font-weight: 700;}

@media only screen and (max-width: 767px) { 

	body {font-size: 16px;}
	h1 {font-size: 30px;}
	h2 {font-size: 26px;}
	h3 {font-size: 22px;}
	h4 {font-size: 18px;}
	h5 {font-size: 16px;}
	h6 {font-size: 14px;}
	
	#blog ul.blog-post li .post .right h2 {font-size: 26px;}
 
}


