@import url(http://fonts.googleapis.com/css?family=Archivo+Black);
@import url(http://fonts.googleapis.com/css?family=EB+Garamond);

@theme-header: 			'Archivo Balck';
@theme-text: 			'EB Garamond';

body {font-family: @theme-text; font-weight: 100; font-size: 14px;}
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {font-family: @theme-header; font-weight: 400;}

h1 {font-size: 24px;}
h2 {font-size: 20px;}
h3 {font-size: 18px;}
h4 {font-size: 14px;}
h5 {font-size: 12px;}
h6 {font-size: 10px;}


#header .navbar-default .navbar-brand {font-family: @theme-header; font-weight: 900;}

#header .nav > li > a {font-family: 'Lato', sans-serif; font-weight: 300;}
#header .seprator {font-family: 'Lato', sans-serif; font-weight: 100;}

#gallery .nav-tabs > li {font-family: @theme-header; font-size: 15px;}

#gallery .head {font-family: @theme-header; font-size: 15px;}

#content h2 {font-size: 18px;}

#header .dropdown-menu > li > a {font-family: 'Lato', sans-serif;}
