<!DOCTYPE html>
<html lang="en">
    <!-- 
    This is the main layout.
    -->
    <head>
        <meta charset="utf-8">
        <title>{$pageData.content.title} | {$pageData.name}</title>
        <meta name="viewport" content="initial-scale = 1,user-scalable=no,maximum-scale=1.0">
        {{ for metaname, metavalue in shared.metas }}
            <meta name="{$metaname}" content="{$metavalue}" />
        {{ endfor }}
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <!-- styles -->
        <link href='http://fonts.googleapis.com/css?family=Merriweather:400,700,400italic|Merriweather+Sans:400,700,800,700italic,800italic,400italic' rel='stylesheet' type='text/css'>    
        <link href="{$assets}css/bootstrap.min.css" rel="stylesheet">
        <link href="{$assets}css/font-awesome.min.css" rel="stylesheet">
        <link href="{$assets}css/custom.css" rel="stylesheet">
        <link href="{$assets}css/responsive.css" rel="stylesheet">
        <!--[if IE 7]>
            <link rel="stylesheet" href="{$assets}/css/font-awesome-ie7.min.css">
        <![endif]-->
        <!--[if lt IE 9]>
            <link rel="stylesheet" media="all" type="text/css" href="{$assets}css/ie.css" />
        <![endif]-->

        {{ for file in pageInfo.theme_styles }}
        <link href="{$assets}{$file}" rel="stylesheet/less" type="text/css">
        {{ endfor }}
        
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="{$assets}js/html5shiv.js"></script>
          <script src="{$assets}js/respond.min.js"></script>
        <![endif]-->

        <!-- Javascript
    ================================================== -->
	<script src="{$assets}js/jquery.js"></script>
    <script src="{$assets}js/jquery-1.7.2.min.js"></script>
    <script src="{$assets}js/less-1.3.0.min.js"></script>
    <script src="{$assets}js/bootstrap.min.js"></script>
    <script src="{$assets}js/custom.js"></script>
    <script>
    $(function() {
         $('#logoCustom').each(function() {
            $(this).load(function() {
                var logowidth = ($('#logoCustom').width()/2)
                $('.customLogo').css({'margin-left': - logowidth});
            });
         });
        });
    </script>
        
        <!-- Fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{$assets}/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{$assets}/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{$assets}/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="{$assets}/ico/apple-touch-icon-57-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="{$assets}/ico/apple-touch-icon-precomposed.png">
        <link rel="shortcut icon" href="{$assets}/ico/favicon.png">
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-42761096-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
        
        {{if pageData.site_settings.embed }}
            {$pageData.site_settings.embed|raw}
        {{endif}}
        {{ if pageData.site_settings.analytics_switch == 1}}
             {{if pageData.site_settings.analytics }}
                {$pageData.site_settings.analytics|raw}
            {{endif}}
        {{endif}}

        
    </head>
    <body>
        
        <!-- Wrap Properties
        ================================================== -->
        <div id="wrap">
                            
            <!-- Header
            ================================================== -->
            <div id="header" class="hidden-xs">
            
                <nav class="navbar navbar-inverse" role="navigation">
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle hidden" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                    {{if pageData.site_settings.logo_switch == 0}}	
                        <a class="navbar-brand inv" href="{$root}{$pagename}">{{ if pageData.name }}{$pageData.name}{{ endif }}</a>
                        {{else}}
                        <div style="text-align: center;">
                                <a href="{$root}"><img title="{$pageData.name} logo" id="logoCustom" class="customLogo" src="{$pageData.site_settings.logo}"/></a>
                        </div>
                        {{endif}}
                    </div>
            
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                      <ul class="nav navbar-nav topBar">
                        {{ for pagename,pageinfo in widgets.pages }}
                            <li>
                                <a href="{$root}{$pagename}" id="widget{$loop.index}" {{if app.name==pagename}}class="active"{{endif}}>{$pageinfo.label|i18n(pageInfo.theme_settings.Lang)}</a>
                             </li>
                        {{ endfor }}
                      </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>
                
            </div>
    
            <!-- Banner
            ================================================== -->
            <div id="banner">
            {{if app.label != 'Home'}}
                <div class="info">
                    {{if pageData.phone}}
                        <div class="txt">{$pageData.phone}</div>
                    {{endif}}
                    
                    {{ if pageData.phone and pageData.isPhoneValid }}
                    	<div class="nocall"><div class="txt"><a href="tel:{$pageData.phone}" class="call" onclick="_gaq.push(['_trackEvent', 'Contact', 'Call', 'Click-To-Call']);">Call</a></div></div>
                	{{endif}}
                    
                    <div class="clearfix"></div>
                    
                    {{ if data.location }}
                        <div class="txt">{$data.locationcommas}</div>
                    {{ endif }}
                    
                    <!--
                    <div class="facebook default_icon"><a href="http://facebook.com/{$pageInfo.pageid}" title="{$pageData.name}" target="_blank"><img src="{$assets}/img/icon_facebook.png"></a></div>
                    <div class="facebook squash_icon"><a href="http://facebook.com/{$pageInfo.pageid}" title="{$pageData.name}" target="_blank"><img src="{$assets}/img/icon_facebook_squash.png"></a></div>
                    <div class="facebook sky_icon"><a href="http://facebook.com/{$pageInfo.pageid}" title="{$pageData.name}" target="_blank"><img src="{$assets}/img/icon_facebook_sky.png"></a></div>
                    <div class="facebook beige_icon"><a href="http://facebook.com/{$pageInfo.pageid}" title="{$pageData.name}" target="_blank"><img src="{$assets}/img/icon_facebook_beige.png"></a></div>
                    <div class="facebook spring_icon"><a href="http://facebook.com/{$pageInfo.pageid}" title="{$pageData.name}" target="_blank"><img src="{$assets}/img/icon_facebook_spring.png"></a></div>
                    -->

           		 	<div class="social hidden-xs">
           		 		<a href="http://facebook.com/{$pageInfo.pageid}" title="facebook" target="_blank" class="facebook2">
           		 			<!--<img alt="facebook" src="{$assets}/img/facebook_icon.png">-->
           		 		</a>
           		 		{{ if pageData.site_settings.socialicons_switch == 1}}
                			{{if pageData.site_settings.twitter_link}}
                			<a href="{$pageData.site_settings.twitter_link}" target="_blank" title="twitter" class="twitter">
                				<!--<img alt="twitter" src="{$assets}/img/twitter_icon.png" >-->
                			</a>
		                	{{endif}}
		                	{{if pageData.site_settings.pinterest_link}}
                			<a href="{$pageData.site_settings.pinterest_link}" target="_blank" title="pinterest" class="pinterest">
                				<!--<img alt="pinterest" src="{$assets}/img/pinterest_icon.png" >-->
                			</a>
		                	{{endif}}
		                	{{if pageData.site_settings.instagram_link}}
                			<a href="{$pageData.site_settings.instagram_link}" target="_blank" title="instagram" class="instagram">
                				<!--<img alt="pinterest" src="{$assets}/img/instagram_icon.png" >-->
                			</a>
		                	{{endif}}
		                	{{if pageData.site_settings.tumblr_link}}
                			<a href="{$pageData.site_settings.tumblr_link}" target="_blank" title="tumblr" class="tumblr">
                				<!--<img alt="tumblr" src="{$assets}/img/tumblr_icon.png" >-->
                			</a>
		                	{{endif}}
		                	{{if pageData.site_settings.flickr_link}}
                			<a href="{$pageData.site_settings.flickr_link}" target="_blank" title="flickr" class="flickr">
                				<!--<img alt="flickr" src="{$assets}/img/flickr_icon.png" >-->
                			</a>
		                	{{endif}}
		                	{{if pageData.site_settings.youtube_link}}
                			<a href="{$pageData.site_settings.youtube_link}" target="_blank" title="youtube" class="youtube">
                				<!--<img alt="youtube" src="{$assets}/img/youtube_icon.png" >-->
                			</a>
		                	{{endif}}
		                {{endif}}
           		 	</div>
                
                </div><!-- /.info -->
            {{endif}}

                {{if data.site_settings.logo_switch == 0}}
                <a class="navbar-brand visible-xs" href="{$root}{$pagename}">{{ if pageData.name }}{$pageData.name}{{ endif }}</a>
                {{else}}
                <div style="text-align: center;" class="navbar-brand visible-xs">
                        <a href="{$root}"><img title="{$data.name} logo" id="logoCustom" class="customLogo" src="{$data.site_settings.logo}"/></a>
                </div>
                {{endif}}
            
                <div id="myCarousel" class="carousel slide">
            
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                      <div class="item active">
                        <div class="bg"></div>
                        {{ for album in pageData.albums.data }}
                            {{ if album.name == "Cover Photos" }}
                            {{ for cover in album.photos.data }}
                                <div class="fill" style="background:url({$cover.images}) no-repeat;"></div>
                            {{ endfor }}
                            {{ endif }}
                        {{ endfor }}                        
                      </div>
                    </div>
    
                </div><!-- /.myCarousel -->
            
            </div>
            
            <nav class="navbar navbar-inverse visible-xs" role="navigation">
              <div class="container">
              
                <div class="navbar-header">
                    <span class="header_title">{$app.label}</span>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"></button>
                </div>
        
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                  <ul class="nav navbar-nav">
                    {{ for pagename,pageinfo in widgets.pages }}
                        <li>
                            <a href="{$root}{$pagename}" id="widget{$loop.index}" {{if app.name==pagename}}class="active"{{endif}}>{$pageinfo.label|i18n(pageInfo.theme_settings.Lang)}</a>
                         </li>
                    {{ endfor }}
                  </ul>
                </div><!-- /.navbar-collapse -->
                
              </div><!-- /.container -->
            </nav><!-- /.navbar (Nav for Mobile devices ) -->
            
            <!-- Main
            ================================================== -->
            <div id="main">
            {{if app.label == 'Home'}}
                <div class="info_2 visible-xs">
                    {{if pageData.phone}}
                        <p>{$pageData.phone}</p>
                    {{endif}}
                    {{ if pageData.location }}
                        <p>{{ if pageData.location.street }}{$pageData.location.street}{{ endif }}{{ if pageData.location.city }},{$pageData.location.city}{{ endif }} {{ if pageData.location.state }},{$pageData.location.state}{{ endif }}</p>
                    {{ endif }}
                    <div class="facebook"><a href="http://facebook.com/{$pageInfo.pageid}" title="{$pageData.name}" target="_blank"><img src="{$assets}/img/icon_facebook.png"></a></div>
                </div><!-- /.info -->
            {{endif}}
            <div class="widget_content">
                {{ autoescape false }}
                    {$output}
                {{ endautoescape }}
            </div>   

                </div><!-- /.home -->
            
            </div>
            
            <div id="push"></div>
            
        </div>

    <!-- Footer
    ================================================== -->
    <div id="footer">
        <div class="social visible-xs">
            <a href="http://facebook.com/{$pageInfo.pageid}" title="facebook" target="_blank" class="facebook2">
                <!--<img alt="facebook" src="{$assets}/img/facebook_icon_foot.png">-->
            </a>
            {{ if pageData.site_settings.socialicons_switch == 1}}
                {{if pageData.site_settings.twitter_link}}
                <a href="{$pageData.site_settings.twitter_link}" target="_blank" title="twitter" class="twitter">
                    <!--<img alt="twitter" src="{$assets}/img/twitter_icon_foot.png" >-->
                </a>
                {{endif}}
                {{if pageData.site_settings.pinterest_link}}
                <a href="{$pageData.site_settings.pinterest_link}" target="_blank" title="pinterest" class="pinterest">
                   <!-- <img alt="pinterest" src="{$assets}/img/pinterest_icon_foot.png" >-->
                </a>
                {{endif}}
                {{if pageData.site_settings.instagram_link}}
                <a href="{$pageData.site_settings.instagram_link}" target="_blank" title="instagram" class="instagram">
                    <!--<img alt="pinterest" src="{$assets}/img/instagram_icon_foot.png" >-->
                </a>
                {{endif}}
                {{if pageData.site_settings.tumblr_link}}
                <a href="{$pageData.site_settings.tumblr_link}" target="_blank" title="tumblr" class="tumblr">
                   <!-- <img alt="tumblr" src="{$assets}/img/tumblr_icon_foot.png" >-->
                </a>
                {{endif}}
                {{if pageData.site_settings.flickr_link}}
                <a href="{$pageData.site_settings.flickr_link}" target="_blank" title="flickr" class="flickr">
                    <!--<img alt="flickr" src="{$assets}/img/flickr_icon_foot.png" >-->
                </a>
                {{endif}}
                {{if pageData.site_settings.youtube_link}}
                <a href="{$pageData.site_settings.youtube_link}" target="_blank" title="youtube" class="youtube">
                    <!--<img alt="youtube" src="{$assets}/img/youtube_icon_foot.png" >-->
                </a>
                {{endif}}
            {{endif}}
        </div>
    	&copy; {{ if pageData.name }}{$pageData.name}{{ endif }}<br>
        {{if data.site_settings.whitelabel_switch == 0}}
            <a href="http://www.pagevamp.com">{$"Powered by"|i18n(pageInfo.theme_settings.Lang)} Pagevamp</a>
        {{else}}
            {$data.site_settings.whitelabel}
        {{endif}}
    </div>
    
    <!-- Javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>$('.carousel').carousel()</script>
    </body>
</html>