@import url(http://fonts.googleapis.com/css?family=Play:400);
@import url(http://fonts.googleapis.com/css?family=Play:700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {font-family: 'Open Sans', sans-serif; font-weight: 400; font-size: 15px;}
#widget_cont h1,
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {font-family: 'Play', sans-serif; font-weight: 700;}

#header .logo,
#header {font-family: 'Play', sans-serif!important; font-weight: 700!important;}

.footer * {font-family: 'Play', sans-serif; font-weight: 400;}

#main .content a.rsvp {font-family: 'Play', sans-serif; font-weight: 700;}

#main .content.title .back a {background-position: 0 4px;}

#main .content .gallery .nav-tabs {font-family: 'Play', sans-serif; font-weight: 700;}
