#wrap .green-overlay {
	background: rgba(111, 51, 201, 0.8);
}

/*** LOGO AND HEADER ***/

.fixed-head .logo a:hover, body > div.header .menu li a:hover {
	color: rgb(111, 51, 201);
}

#gallery ul.thumb li .img-holder:hover {
	border: 2px solid rgb(111, 51, 201);
}