
<script src="http://test.pagevamp.com/themes/blarney/1.0.0/assets/js/jquery.backstretch.js"></script>
<script type="text/javascript">	

	$(function(){
			
		function last_msg_funtion() 
		{ 
		   
           	$('#loader').fadeIn();
			var ID=$(".content_box:last").attr("id");
			var st = parseInt(ID)+1;
			for(a=st;a<(st+7);a++)
			{
				$('#'+a).attr("class","content_box");
				$('#'+a).delay(2000).fadeIn('slow');
			}			
           	$('#loader').fadeOut();
		};  
		
		$(window).scroll(function(){
			if  ($(window).scrollTop() == $(document).height() - $(window).height()){
			   last_msg_funtion();
			}
		});		
	});
</script>

<div class="row">

	<div class="title gutter"><h2>News</h2></div>
    <ul id="news">
        {{ for post in data.posts.data if loop.index <= 100 and (post.caption or post.message or post.picture) }}
        {{if loop.index<=7 }}
        <li class="content_box" id="{$loop.index}">
        
        	<div class="grid_2 alpha omega res_2">
            	<div class="date"> {$post.created_time|date("M")}<br />{$post.created_time|date("j")}</div>
            </div>
            <div class="grid_12 alpha omega res_12">
              <div class="desc">
              		<div class="description">
                    	{{ autoescape false }}
						{{if (post.message or post.caption)}}   
                        
                        {$post.message}	<span class="fbcaption"><a href="{$post.link}" target="_blank">{$post.caption}</a></span>
                        
                        {{ endif }}
                        {{ endautoescape }}
                	</div>
                {{if post.picture}}
                    <div class="more"><a href="{$post.link}"><span></span></a></div>
                {{endif}}
                </div>        

                
            </div>
            <div class="clear"></div>
        </li>
        {{ else }}
        <li id="{$loop.index}" class="content_box_hidden" style="display:none;">
        
        	<div class="grid_2 alpha omega res_2">
            	<div class="date"> {$post.created_time|date("M")}<br />{$post.created_time|date("j")}</div>
            </div>
            <div class="grid_12 alpha omega res_12">
              <div class="desc">
              		<div class="description">
                    	{{ autoescape false }}
						{{if (post.message or post.caption)}}   
                        
                        {$post.message}	<span class="fbcaption"><a href="{$post.link}" target="_blank">{$post.caption}</a></span>
                        
                        {{ endif }}
                        {{ endautoescape }}
                	</div>
                {{if post.picture}}
                    <div class="more"><a href="{$post.link}"><span></span></a></div>
                {{endif}}
                </div>        

                
            </div>
            <div class="clear"></div>
        </li>
        {{ endif }}
        {{ endfor }}
        <div id="loader" style="display:none; float:right;"><img src="http://www.pagevamp.com/uploads/ajax-loader.gif" width="40" /></div>
    </ul><!-- news ends -->

</div>