
@import url(http://fonts.googleapis.com/css?family=Lora:400);
@import url(http://fonts.googleapis.com/css?family=Lora:700);
@import url(http://fonts.googleapis.com/css?family=Rochester);

body,
#footer,
#header .dropdown-menu {font-family: 'Lora', serif !important; font-weight: 400!important;}

#header {font-family: 'Rochester', cursive !important;}

#header .navbar-brand {font-size: 24px !important;}

#header .navbar-inverse .navbar-nav>li>a {text-transform: none !important; font-size: 20px !important;}

#blog .post .goback {font-family: 'Lora', serif !important; font-weight: 700!important;}

#info h2 {text-transform: none !important;}

#widget_cont h1,
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {font-family: 'Lora', serif !important; font-weight: 700!important;}

