
#about h1 {
	border-left: 8px solid #FF1DF6;
}

.widget_title {
	border-left: 8px solid #03B9FF;
}

.navbar-inverse .nav .active>a, .navbar-inverse .nav .active>a:hover, .navbar-inverse .nav .active>a:focus {
	color: #FF1DF6 !important;
}

.navbar-inverse .navbar-nav > li > a.active, .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
	color: #FF1DF6 !important;
}

#grid_gallery .maso_container2 .box2 .article .hover_caption {
	background: rgba(255, 29, 246, 0.6);
}

.contact_form .btn {background: #FF1DF6;}

.dropdown-menu>li>a:hover, 
.dropdown-menu>li>a:focus {color: #FF1DF6;}

@media only screen and (max-width: 767px) {
	
		.call a {background: url(../../images/but-call-fus.png) no-repeat;}
	
	}
	
	#about .content .box_holder a.rsvp {background: #FF1DF6;}
	
	
.inquire-holder .inquire-form ul li .btn {background: #FF1DF6;}
