<!DOCTYPE html>
<html lang="en">
	<!-- 
	This is the main layout.
	-->
	<head>
		<meta charset="utf-8">
		<title>{$data.name}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{{ for metaname, metavalue in shared.metas }}
        <meta name="{$metaname}" content="{$metavalue}" />
    	{{ endfor }}  
		<meta name="author" content="">
		
		<!-- fancybox -->
		<link href="{$assets}css/jquery.fancybox.css" rel="stylesheet">		
        <!-- Thumbnail resizer -->		
        <link href="{$assets}css/jquery.nailthumb.1.1.css" type="text/css" rel="stylesheet" />		
		<!-- Reset -->
		<link href="{$assets}css/reset.css" rel="stylesheet">
		<!-- Grids -->
		<link href="{$assets}css/960.css" rel="stylesheet">
		<!-- Actual Style / LessCSS -->
		<link href="{$assets}css/theme.css" rel="stylesheet/less" type="text/css">
		
		<!-- Here I will include the css files from the styles selected by the user -->
		{{ for file in pageInfo.theme_styles }}
		<link href="{$assets}{$file}" rel="stylesheet/less" type="text/css">
		{{ endfor }}
		
		<!-- End/Fix -->
		<link href="{$assets}css/end.css" rel="stylesheet/less">
		<link href="{$assets}css/style.css" rel="stylesheet">
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<!-- jQuery -->
		<script src="{$assets}js/jquery.1.7.1.min.js"></script>
        <script src="{$assets}js/jquery.backstretch.js"></script>
		<!-- LessCSS -->
		<script src="{$assets}js/less-1.3.0.min.js"></script>
		<!-- Toogle Widget -->
		<script src="{$assets}js/toggle.js"></script>
		<script type="text/javascript" src="{$assets}js/jquery.easing.1.3.js"></script>
		<!-- Thumbnail resize -->
    	<script type="text/javascript" src="{$assets}js/jquery.nailthumb.1.1.js"></script>
		<!-- Fancybox -->
		<script src="{$assets}js/jquery.fancybox.js"></script>	
        <script type="text/javascript" src="{$assets}js/purl.js"></script>
		<script>
			$(function(){

				var c = 1;
				if($(window).innerWidth() >320 && $(window).innerWidth()<=1010){
					$('.vid').each(function(){
						if(c % 2 == 0){
							$(this).after('<br class="fix" />');
						}	
						c++;	
						
					});
				}
				else { 
					$('.vid').each(function(){
						if(c % 3 == 0){
							$(this).after('<br class="fix" />');
						}	
						c++;	
					});
				}
			});			
		</script>
        <script src="{$assets}js/include.js"></script>
	
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-42761096-1');
		ga('send', 'pageview');
	      </script>
       
  	{{if data.site_settings.embed }}
  		{$data.site_settings.embed|raw}
  	{{endif}}
  	{{ if data.site_settings.analytics_switch == 1}}
         {{if data.site_settings.analytics }}
            {$data.site_settings.analytics|raw}
        {{endif}}
    {{endif}}      
</head>
	<body>
   
		<div class="header">
        	<div class="container_24 top-head">
            	<div class="fixed-head">
                {{if data.site_settings.logo_switch == 0}}	
				    <div class="grid_5 alpha omega logo">
						<div id="#home">
							<div class="logo">
								<a href="#home">{$data.name}</a>
							</div>
						</div>
				    </div>
		   		{{else}}
				    <div class="grid_5 alpha omega logo">
						<div id="#home" style="text-align: center;">
							<div class="logo"<a href="#home"><img title="{$data.name} logo" class="customLogo" src="{$data.site_settings.logo}"/></a>
							</div>
						</div>
				    </div>
		   		 {{endif}}
		    <div class="holder">          
                        <ul class="menu right">
                           
                            {{ for pagename,pageinfo in widgets.pages }}
								<li class="navlink {{if app.name==pagename}}active{{endif}}">
                                	<a data-href="#{{if pagename=='index'}}home{{else}}{$pagename}{{endif}}" title="{$pageinfo.label}" class="link">{$pageinfo.label|i18n(pageInfo.theme_settings.Lang)}</a>
                                 </li>
							{{ endfor }}   
                            
                        </ul>
                    <div class="fix"></div>
                    <a href="#" id="pull">--{$"Navigation"|i18n(pageInfo.theme_settings.Lang)}--</a><!--switching menus for mobile-->
                </div><!--holder-->
                </div> 
            </div>
		</div>
<!--        <div class="container_12">
            <ul id="nav">
            	<li {{if app.name=="about"}}class="active"{{endif}}><a href="{$root}about">About</a> /</li>
            	<li {{if app.name=="news"}}class="active"{{endif}}><a href="{$root}news">News</a> /</li>
            	<li {{if app.name=="contact"}}class="active"{{endif}}><a href="{$root}contact">Contact</a></li>
                <br class="clear">
            </ul>
        </div>
-->		
		<div class="main-wrap">
            <!-- wrap starts -->
            <div id="wrap">
                <div class="green-overlay">
                <!-- home starts -->
                <a name="home"></a>
                <div id="home">
                    <p>{{ autoescape false }}{$data.about}{{ endautoescape }}</p>
                </div>
                <!-- home ends -->
                </div><!-- Just the overlay -->
                
            </div>
            <!-- wrap footer -->
            <div class="container_24 fixer">
                {{ autoescape false }}
                    {$output}
                    {{ endautoescape }}
            </div>
        </div><!-- main-wrap ends -->
        
		<div class="clearfix"></div>
        
		<div class="footer" id="footer">
            
			<div class="container_24 fixer">
            
            	<!-- contact starts -->
            	<a name="contact"></a>
                <div id="contact">
                {{ if data.location}}
                	<div class="title">{$widgets.pages.contact.label|i18n(pageInfo.theme_settings.Lang)}</div><!-- title ends --> {{ endif }}
                
                	<div class="grid_9  alpha omega address">
                    {{ if data.location }}
                    	{{ if data.email }}
                        <p><span class="contact">{$"Email"|i18n(pageInfo.theme_settings.Lang)}: {$data.email}</span></p>
                        {{ endif }}
                        
                        {{ if data.location.street }}
                        <p><span class="contact">{$"Street"|i18n(pageInfo.theme_settings.Lang)}: {$data.location.street}</span></p>
                        {{ endif }}
                        
                        {{ if data.location.city }}
                        <p><span class="contact">{$"City"|i18n(pageInfo.theme_settings.Lang)}: {$data.location.city}</span></p>
                        {{ endif }}
                        
                        {{ if data.location.state }}
                        <p><span class="contact">{$"State"|i18n(pageInfo.theme_settings.Lang)}: {$data.location.state}</span></p>
                        {{ endif }}

                        {{ if data.location.country }}
                        <p><span class="contact">{$"Country"|i18n(pageInfo.theme_settings.Lang)}: {$data.location.country}</span></p>
                        {{ endif }}

                        {{ if data.location.zip }}
                        <p><span class="contact">{$"Zip"|i18n(pageInfo.theme_settings.Lang)}: {$data.location.zip}</span></p>
                        {{ endif }}
                        
                        {{ if data.phone }}
                        <p><span class="contact">{$"Phone"|i18n(pageInfo.theme_settings.Lang)}: {$data.phone}</span></p>
                        {{ endif }}
                         {{ endif }}
                        <div class="social"><a href="http://facebook.com/{$pageInfo.pageid}" title="{$data.name}" target="_blank"><img src="{$assets}images/social.png"></a></div>
                    </div>
                    <div class="grid_15 float-right alpha omega align-right map">
                     {{ if data.location }}
                    {{ if data.location.latitude }}
                    	<iframe width="700" scrolling="no" height="350" frameborder="0" src="https://maps.google.com/?q={$data.location.street}+{$data.location.city}+{$data.location.state}&hl=en&sll={$data.location.latitude},{$data.location.longitude}&amp;output=embed" marginwidth="0" marginheight="0"></iframe>
                    	<span class="view"><a href="https://maps.google.com/?q={$data.location.street}+{$data.location.city}+{$data.location.state}&hl=en&sll={$data.location.latitude},{$data.location.longitude}" style="text-align:left" target="_blank">View Larger Map</a></span>
                    {{ endif }}
                 {{ endif }}
                    </div>
                    
                    <div class="clear"></div>
                
                </div>
               
                

            	<!-- contact ends -->
                
            	<div class="container_24 foot">
                    <div class="grid_4 alpha omega flt-left foot-left"><p>&copy; {$data.name}</p></div>
                    <div class="grid_4 alpha omega float-right foot-right"><p class="align-right">{$"Powered by"|i18n(pageInfo.theme_settings.Lang)} <a href="http://pagevamp.com/">Pagevamp</a></p></div>
                </div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
		<script>
		$(function(){
			{{ for album in data.albums.data }}
					{{ if album.name == "Cover Photos" }}
						{{ for cover in album.photos.data if loop.index <= 1 }}
							$("#wrap").backstretch("{$cover.images}");
		   				{{ endfor }}
					{{ endif }}
				{{ endfor }}
		});
		</script>	
	</body>
</html>