<div class="content gutter title">
    <h2>{$widgets.pages.gallery.label|i18n(pageInfo.theme_settings.Lang)}</h2>
    {{ if data.isalbumdac }}
    <div class="back"><a href="{$root}gallery" title="Back">{$"Return to Gallery"|i18n(pageInfo.theme_settings.Lang)}</a></div>
    {{ endif }}
</div><!-- /.content -->
<div class="content gutter">
    <div class="gallery">
    	{{ if data.isalbumdac }}
        	<h3>{$data.albumsOnly.name}</h3>
        	
            <div class="holder">
                <div class="row">
                	{{ set count = 0 }}
                    {{ for photo in data.albumsOnly.photos.data }}
                    	<div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="thumb album">
                                <a href="{$photo.images}" title="{$photo.name}" class="fancybox" rel="{$data.name}"><div class="fill" style="background:url({$photo.source}) center center; background-size:cover;"></div></a>
                            </div><!-- /.thumb -->
                        </div>
                        {{ set count = loop.index }}
                    {{ endfor}}
                    
                </div>
            </div>
        {{ else }}
        
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
          <li class="active"><a href="#photos" data-toggle="tab">{$"Photos"|i18n(pageInfo.theme_settings.Lang)}</a></li>
          {{ if data.videos }}
          <li>|</li>
          <li><a href="#videos" data-toggle="tab">{$"Videos"|i18n(pageInfo.theme_settings.Lang)}</a></li>
          {{ endif }}
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="photos">
            <div class="holder">
                <div class="row">
                	{{ set count = 0 }}
                    {{ for album in data.albums.data}}        	
                        
                        {{ set has_cover = false }}
                        {{if album.cover_photo }}
                            {{ for photo in album.photos.data }}      
                                {{if album.cover_photo == photo.id}}
                                	{{ set has_cover = true }} 
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="thumb">
                                            <a href="{$root}gallery?album={$count}">
                                            	<div class="fill" style="background:url({$photo.source}) center center; background-size:cover;"></div>
                                            </a>
                                            <div class="caption">{{ autoescape false }}<a href="{$root}gallery?album={$count}">{$album.name|i18n(pageInfo.theme_settings.Lang)} </a>{{ endautoescape }}</div>
                                        </div><!-- /.thumb -->
                                    </div>
                               {{endif}}
                    		{{ endfor }}
                    	{{endif}} 
                    	{{ set firstimage = false }}
                        {{if has_cover == false}}
                            {{ for photo in album.photos.data if loop.index<2 }} 
                                {{ set firstimage = photo.id }} 
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="thumb">
                                        <a href="{$root}gallery?album={$count}">
                                        	<div class="fill" style="background:url({$photo.source}) center center; background-size:cover;"></div>
                                        </a>
                                        <div class="caption">
                                            {{ autoescape false }}
                                                <a href="{$root}gallery?album={$count}">
                                                {$album.name|i18n(pageInfo.theme_settings.Lang)} 
                                                </a>
                                        	{{ endautoescape }}
                                        </div>
                                    </div><!-- /.thumb -->
                                </div>
                            {{ endfor }}
                    	{{endif}}
               
                   		{{ set count = loop.index }}
            		{{ endfor}}
                </div>
            </div><!-- /.holder -->
          </div>
          <div class="tab-pane" id="videos">
          	{{for video in data.videos.data if loop.index <= 5 and video.name}}
            <div class="holder">
                <div class="video">
                    <h3>{{autoescape false}} {$video.name} {{endautoescape}}</h3>
                    {{autoescape false}}
                        {$video.format[1].embed_html}
                    {{endautoescape}}
                </div><!-- /.video -->
            </div><!-- /.holder -->
            {{endfor}}
          </div>
       </div>
       {{endif}}
    </div><!-- /.gallery -->
</div>

<link href="{$assets}css/jquery.fancybox.css" rel="stylesheet">