.navbar-collapse {background: #00d6d6;}

.navbar-nav > li.active > a {background: #00abab;}
.navbar-nav > li > a {color: #fff; text-shadow: 1px 1px 1px #000;}
ul#nav li > a, 
ul#nav li .active > a:hover, 
ul#nav li .active > a:active {color: #fff;}

.nav > li > a:hover, 
.nav > li > a:focus {background: #00abab; color: #fff;}


.contact_form input[type="text"], 
.contact_form input[type="password"], 
.contact_form textarea {border: 1px solid #00d6d6;}

.contact_form .bottom .btn {background: #01a6a6;}

.modal .inquire-holder input[type="text"], 
.modal .inquire-holder input[type="password"], 
.modal .inquire-holder textarea,
.modal .inquire-holder .rel-img {border: 1px solid #00d6d6;}
.modal .inquire-holder .btn {background: #01a6a6;}

.nav .open>a, 
.nav .open>a:hover, 
.nav .open>a:focus {background: #00abab;}

.dropdown-menu {background: #00d6d6;}
.dropdown-menu>li>a {color: #fff; text-shadow: 1px 1px 1px #000;}
.dropdown-menu>li>a:hover {background: #00abab; color: #fff;}