<div id="content">
    <div class="holder">
    
        <h2>{$widgets.pages.about.label|i18n(pageInfo.theme_settings.Lang)}</h2>
        
        {{ autoescape false }}
        {{if data.mission}}
        <h3>{$"Mission"|i18n(pageInfo.theme_settings.Lang)}</h3> 
        <p>{$data.mission|nl2br}</p>
         <p>&nbsp;</p>
        {{endif}}
        {{ endautoescape}}
       
        {{ autoescape false }}
        {{ if data.description }}        
        <h3>{$"Description"|i18n(pageInfo.theme_settings.Lang)}</h3> 
        <p>{$data.description|nl2br}</p>
        <p>&nbsp;</p>
        {{ endif }}
        {{ endautoescape}}

         {{ autoescape false }}
        {{ if data.company_overview }}        
        <h3>{$"Company Overview"|i18n(pageInfo.theme_settings.Lang)}</h3> 
        <p>{$data.company_overview|nl2br}</p>
        <p>&nbsp;</p>
        {{ endif }}
        {{ endautoescape}}

        {{ autoescape false }}
        {{ if data.general_info }}        
        <h3>{$"General Information"|i18n(pageInfo.theme_settings.Lang)}</h3> 
        <p>{$data.general_info|nl2br}</p>
        <p>&nbsp;</p>
        {{ endif }}
        {{ endautoescape}}

        {{ autoescape false }}
        {{ if data.bio }}        
        <h3>{$"Bio"|i18n(pageInfo.theme_settings.Lang)}</h3> 
        <p>{$data.bio|nl2br}</p>
        <p>&nbsp;</p>
        {{ endif }}
        {{ endautoescape}}

        {{ autoescape false }}
        {{ if data.culinary_team }}        
        <h3>{$"Culinary Team"|i18n(pageInfo.theme_settings.Lang)}</h3> 
        <p>{$data.culinary_team|nl2br}</p>
        {{ endif }}
        {{ endautoescape}}
        
    </div>  
</div>