    <meta charset="utf-8">
    <title>{$shared.title}{$data.name}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{ for metaname, metavalue in shared.metas }}
            <meta name="{$metaname}" content="{$metavalue}" />
        {{ endfor }}
    <meta name="author" content="">  
    <meta name="viewport" content="initial-scale = 1,user-scalable=no,maximum-scale=1.0">
    <link href="{$assets}css/fonts.css" rel="stylesheet">
    <link href="{$assets}css/bootstrap.min.css" rel="stylesheet">
    <link href="{$assets}css/font-awesome.min.css" rel="stylesheet">
    <link href="{$assets}css/supersized.css" rel="stylesheet">
    <link href="{$assets}css/supersized.shutter.css" rel="stylesheet" media="screen">
    <link href="{$assets}css/custom.css" rel="stylesheet">
    <link href="{$assets}css/responsive.css" rel="stylesheet">
    <!--[if IE 7]>
        <link rel="stylesheet" href="{$assets}css/font-awesome-ie7.min.css">
    <![endif]-->
    <!--[if lt IE 9]>
        <link rel="stylesheet" media="all" type="text/css" href="{$assets}css/ie.css" />
    <![endif]-->
    
    {{ for file in pageInfo.theme_styles }}
    <link href="{$assets}{$file}" rel="stylesheet" type="text/css">
    {{ endfor }}


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="{$assets}js/html5shiv.js"></script>
      <script src="{$assets}js/respond.min.js"></script>
    <![endif]-->
    
    <!-- Javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script src="{$assets}js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script src="{$assets}js/bootstrap.js"></script>
    <script src="{$assets}js/bootstrap-hover-dropdown.js"></script>
	<script type="text/javascript" src="{$assets}js/jquery.easing.min.js"></script>
    {{if app.name == 'index' or app.name == 'album'}}
    <script type="text/javascript" src="{$assets}js/supersized.3.2.7.min.js"></script>
    <script type="text/javascript" src="{$assets}js/supersized.shutter.min.js"></script>
    {{endif}}
    <script src="{$assets}js/custom.js"></script>
	<script>
		// very simple to use!
		$(document).ready(function() {
		  $('.js-activated').dropdownHover().dropdown();
		});
    </script>    
    {{if data.site_settings.embed }}
        {$data.site_settings.embed|raw}
    {{endif}} 
    {{ if data.site_settings.analytics_switch == 1}}
	  	 {{if data.site_settings.analytics }}
	        {$data.site_settings.analytics|raw}
	    {{endif}}
	{{endif}}      
</head>
<body>
<!-- Canvas Pop Store includes -->
    <div id="cp-store-root" data-cp-settings='{ "access_key": "bc0933b4152e1fbf4b9ddbfeeab9b28b", "modal": true }'></div>
    <script>
    (function ( d, s, id ) {
        var js, cpJs = d.getElementsByTagName( s )[0], t = new Date();
        if ( d.getElementById( id ) ) return;
        js = d.createElement( s );
        js.id = id;
        js.setAttribute( 'data-cp-url', 'https://store.canvaspop.com' );
        js.src = 'https://store.canvaspop.com/static/js/cpopstore.js?bust=' + t.getTime();
        cpJs.parentNode.insertBefore( js, cpJs );
    }( document, 'script', 'canvaspop-jssdk' ));
    </script>
    <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-42761096-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    <!-- End Canvas Popup -->
  
  <!-- Wrap Properties
    ================================================== -->
    <div id="wrap" {{if app.name=="album"}}class="album_wrap"{{endif}} {{if app.name=="gallery"}}class="gallery_wrap"{{endif}}{{if app.name=="news"}}class="news_wrap"{{endif}}>
    	{{if app.name=="album" and pageInfo.theme_settings.Store == 'enabled'}}
    	<div class="inquire"><a href="javascript:handleInquiry();" title="Inquire" data-src="">{$"Inquire"|i18n(pageInfo.theme_settings.Lang)}</a></div>
        <div class="inquire-holder hidee">
    	
            <h2>{$"Inquire for Purchase"|i18n(pageInfo.theme_settings.Lang)}</h2>
            <button class="close" onClick="handleInquiry();">Close</button>
            
            <div class="inquire-form">
                <div class="inquire-loader">
                	<img src="{$assets}images/pagevamp_loaders.GIF" />
                </div>
                <form id="inquireform" action="{$root}gallery" method="post">
                    <ul>
                        <li>
                        <input name="p_imgsrc" type="hidden" class="required">
                        <input name="p_address" type="text" value="" style="display:none;" />
                        <input name="p_name" type="text" placeholder="Name" class="required"></li>
                        <li><input name="p_email" type="text" placeholder="Email" class="required email"></li>
                        <li><input name="p_phone" type="text" placeholder="Phone (optional)" class=""></li>
                        <li><textarea name="p_message" cols="" rows="" placeholder="Message" class="required"></textarea></li>
                        <li><input name="p_inquirebtn" type="submit" class="btn" value="Send"></li>
                    </ul>
                </form>
            </div><!-- /.inquire-form -->
        
            <div class="rel-img"><img src="" alt="" class="inquire-img"></div><!-- /.rel-img -->
        
        </div><!-- /.inquire-holder -->
    	{{endif}}
        <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
          <div class="container_nav">
          
            <div class="navbar-header">
            
              <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
              {{if app.name=="album"}}
              	<a class="navbar-brand logo-nav" href="{$root}" title="{$data.name}">{$"Album"|i18n(pageInfo.theme_settings.Lang)}: {$data.albumName|i18n(pageInfo.theme_settings.Lang)}</a>
              {{ else }}


        		    {{if data.site_settings.logo_switch == 0}}
            			<a class="navbar-brand logo-nav" href="{$root}" title="{$data.name}">{{ autoescape false }}{{ if data.name }}{$data.name}{{ endif }}{{ endautoescape }}</a>
        		    {{else}}
            			<a href="{$root}"><img title="{$data.name} logo" class="customLogo" src="{$data.site_settings.logo}"/></a>
        		    {{endif}}
              {{ endif }}
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              
            </div>
    
            <!-- Collect the nav links, forms, and other content for toggling -->
            {{if app.name=="index" or app.name=="gallery"}}
            	<div class="collapse navbar-collapse navbar-ex1-collapse">
              <ul class="nav navbar-nav navbar-right">
                {{ for pagename,pageinfo in widgets.pages_menu }}
                    {{ if pageinfo.label!='' }}
                        {{ if pageinfo.children is empty }} 
                    <li {{if app.name==pagename}}class="active"{{endif}}>
                                <a href="{{if pageinfo.type == 'e'}}{$pagename}{{else}}{$root}{$pagename}{{endif}}" id="widget{$loop.index}">{$pageinfo.label|i18n(pageInfo.theme_settings.Lang)}</a>
                    </li>
                        {{ else }}
                    <li {{if app.name==pagename}}class="active"{{endif}}>
                                <a href="{{if pageinfo.type == 'e'}}{$pagename}{{else}}{$root}{$pagename}{{endif}}" id="widget{$loop.index}" class="dropdown-toggle js-activated" data-toggle="dropdown">{$pageinfo.label|i18n(pageInfo.theme_settings.Lang)}</a>
                                <ul class="dropdown-menu">
                                    {{ for pagename,pageinfo in pageinfo.children }}
                                    <li><a href="{{if pageinfo.type == 'e'}}{$pagename}{{else}}{$root}{$pagename}{{endif}}" id="widget{$loop.index}">{$pageinfo.label|i18n(pageInfo.theme_settings.Lang)}</a></li>
                                    {{endfor}}
                                </ul>
                    </li>
                    {{endif}}
                    {{endif}}
                {{ endfor }}
                

                    <li class="extra_holder hidden-lg hidden-md">
                        <div class="social">
                            <a href="http://facebook.com/{$pageInfo.pageid}" title="facebook" target="_blank" onClick="_gaq.push(['_trackEvent', 'Engagement', 'Social Icons', 'Facebook Icon']);" class="facebook">facebook</a>
                            {{ if data.site_settings.socialicons_switch == 1}}
                                {{if data.site_settings.twitter_link}}
                                <a href="{$data.site_settings.twitter_link}" target="_blank" title="twitter" onClick="_gaq.push(['_trackEvent', 'Engagement', 'Social Icons', 'Twitter Icon']);" class="twitter">twitter</a>
                                {{endif}}
                                {{if data.site_settings.pinterest_link}}
                                <a href="{$data.site_settings.pinterest_link}" target="_blank" title="pinterest" onClick="_gaq.push(['_trackEvent', 'Engagement', 'Social Icons', 'Pinterest Icon']);" class="pinterest">pinterest</a>
                                {{endif}}
                                {{if data.site_settings.instagram_link}}
                                <a href="{$data.site_settings.instagram_link}" target="_blank" title="instagram" onClick="_gaq.push(['_trackEvent', 'Engagement', 'Social Icons', 'Instagram Icon']);" class="instagram">instagram</a>
                                {{endif}}
                                {{if data.site_settings.tumblr_link}}
                                <a href="{$data.site_settings.tumblr_link}" target="_blank" title="tumblr" onClick="_gaq.push(['_trackEvent', 'Engagement', 'Social Icons', 'Tumblr Icon']);" class="tumblr">tumblr</a>
                                {{endif}}
                                {{if data.site_settings.flickr_link}}
                                <a href="{$data.site_settings.flickr_link}" target="_blank" title="flickr" onClick="_gaq.push(['_trackEvent', 'Engagement', 'Social Icons', 'Flickr Icon']);" class="flickr">flickr</a>
                                {{endif}}
                                {{if data.site_settings.youtube_link}}
                                <a href="{$data.site_settings.youtube_link}" target="_blank" title="youtube" onClick="_gaq.push(['_trackEvent', 'Engagement', 'Social Icons', 'Youtube Icon']);" class="youtube">youtube</a>
                                {{endif}}
                            {{endif}}
                        </div><!-- /.social -->
                    </li>
              </ul>
            </div>
           	{{else}}
            	<div class="collapse navbar-collapse navbar-ex1-collapse" style="padding-right:0;">
              <ul class="nav navbar-nav navbar-right">
                {{ for pagename,pageinfo in widgets.pages_menu }}
                    {{ if pageinfo.label!='' }}
                        {{ if pageinfo.children is empty }} 
                            <li {{if app.name==pagename}}class="active"{{endif}}>
                                <a href="{{if pageinfo.type == 'e'}}{$pagename}{{else}}{$root}{$pagename}{{endif}}" id="widget{$loop.index}">{$pageinfo.label|i18n(pageInfo.theme_settings.Lang)}</a>
                            </li>
                        {{ else }}
                    <li {{if app.name==pagename}}class="active"{{endif}}>
                                <a href="{{if pageinfo.type == 'e'}}{$pagename}{{else}}{$root}{$pagename}{{endif}}" id="widget{$loop.index}" class="dropdown-toggle js-activated" data-toggle="dropdown">{$pageinfo.label|i18n(pageInfo.theme_settings.Lang)}</a>
                                <ul class="dropdown-menu">
                                    {{ for pagename,pageinfo in pageinfo.children }}
                                    <li><a href="{{if pageinfo.type == 'e'}}{$pagename}{{else}}{$root}{$pagename}{{endif}}" id="widget{$loop.index}">{$pageinfo.label|i18n(pageInfo.theme_settings.Lang)}</a></li>
                                    {{endfor}}
                                </ul>
                    </li>
                    {{endif}}
                    {{endif}}
                {{ endfor }}
                    <li class="extra_holder hidden-lg hidden-md">
                        <div class="social">
                            <a href="http://facebook.com/{$pageInfo.pageid}" title="facebook" target="_blank" onClick="_gaq.push(['_trackEvent', 'Engagement', 'Social Icons', 'Facebook Icon']);" class="facebook">facebook</a>
                            {{ if data.site_settings.socialicons_switch == 1}}
                                {{if data.site_settings.twitter_link}}
                                <a href="{$data.site_settings.twitter_link}" target="_blank" title="twitter" onClick="_gaq.push(['_trackEvent', 'Engagement', 'Social Icons', 'Twitter Icon']);" class="twitter">twitter</a>
                                {{endif}}
                                {{if data.site_settings.pinterest_link}}
                                <a href="{$data.site_settings.pinterest_link}" target="_blank" title="pinterest" onClick="_gaq.push(['_trackEvent', 'Engagement', 'Social Icons', 'Pinterest Icon']);" class="pinterest">pinterest</a>
                                {{endif}}
                                {{if data.site_settings.instagram_link}}
                                <a href="{$data.site_settings.instagram_link}" target="_blank" title="instagram" onClick="_gaq.push(['_trackEvent', 'Engagement', 'Social Icons', 'Instagram Icon']);" class="instagram">instagram</a>
                                {{endif}}
                                {{if data.site_settings.tumblr_link}}
                                <a href="{$data.site_settings.tumblr_link}" target="_blank" title="tumblr" onClick="_gaq.push(['_trackEvent', 'Engagement', 'Social Icons', 'Tumblr Icon']);" class="tumblr">tumblr</a>
                                {{endif}}
                                {{if data.site_settings.flickr_link}}
                                <a href="{$data.site_settings.flickr_link}" target="_blank" title="flickr" onClick="_gaq.push(['_trackEvent', 'Engagement', 'Social Icons', 'Flickr Icon']);" class="flickr">flickr</a>
                                {{endif}}
                                {{if data.site_settings.youtube_link}}
                                <a href="{$data.site_settings.youtube_link}" target="_blank" title="youtube" onClick="_gaq.push(['_trackEvent', 'Engagement', 'Social Icons', 'Youtube Icon']);" class="youtube">youtube</a>
                                {{endif}}
                            {{endif}}
                        </div><!-- /.social -->
                    </li>
              </ul>
            </div>
            {{endif}}
            
            
            <!-- /.navbar-collapse -->
            
          </div><!-- /.container -->
        </nav><!-- /.nav -->

        {{ autoescape false }}
            {$output}
        {{ endautoescape }}

    </div>
		

	
  </body>
</html>