
@import url(http://fonts.googleapis.com/css?family=Imprima);
@import url(http://fonts.googleapis.com/css?family=Cantata+One);

/*** LOGO ***/

div.header .logo a, .contact .contact_wrap .logo a {
	font-family: 'Cantata One';
}

/*** NAVIGATION ***/

ul#nav li a {
	font-family: 'Cantata One';
}

/*** Hompage Short About ***/

h2 {
	font-family: 'Imprima';
}

/*** Homepage Subheader ***/

h3 {
	font-family: 'Cantata One';
}

/*** Page Header ***/

h4 {
	font-family: 'Cantata One';
}

/*** Subheader ***/

h5 {
	font-family: 'Imprima';
}

/*** Standard Text ***/

p {
	font-family: 'Imprima';
	font-size: 16px;
}

Body {
	font-family: 'Imprima';
	font-size: 16px;
}

.box > .header > .label {
	font-family: 'Cantata One';
}

@media only screen and (max-width: 767px) { 

	body {font-size: 16px;}
	h1 {font-size: 30px;}
	h2 {font-size: 26px;}
	h3 {font-size: 22px;}
	h4 {font-size: 18px;}
	h5 {font-size: 16px;}
	h6 {font-size: 14px;}
 
 	#header .home-content h2,
	#header h2,
	#header .head-title h2 {font-size: 30px;}
	
	#blog ul.blog-post li .post .right h2 {font-size: 26px;}
 
}

@media (max-width: 480px) {

	#header .home-content h2,
	#header h2,
	#header .head-title h2 {font-size: 24px;}

}

@media only screen and (max-width: 360px) {
	
	#header .home-content h2,
	#header h2,
	#header .head-title h2 {font-size: 24px;}
	
}

@media (max-width: 320px) {

	#header .home-content h2,
	#header h2,
	#header .head-title h2 {font-size: 20px;}
	
}

