/*!
		* Custom Styling for Site.
 */


    /* General
    -------------------------------------------------- */
	* {/*-webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; text-rendering: optimizeLegibility;*/}
	html,
	body {height: 100%;}
	body {line-height: 1; font-family: 'Gudea', sans-serif; font-weight: 400; font-size: 13px; color: #727272; letter-spacing: 0.020em;}
	h1, h2, h3, h4, h5, h6 {margin: 0; padding: 0; line-height: 1;}
	p {line-height: 1.2;}
	p:last-child {margin: 0;}
	a:hover {text-decoration: none;}
	
 
    /* Wrap
    -------------------------------------------------- */
	#wrap {min-height: 100%; height: auto!important; height: 100%; position: relative; margin: 0 auto -45px; padding-top: 62px; padding-bottom: 10px;}


    /* Header
    -------------------------------------------------- */
	#header {width: 100%; font-family: 'Muli', sans-serif; font-weight: 400;}
	#header .navbar-inverse {background-color: #fff; border: none; margin: 0; padding: 0 10px;}
	#header .navbar-brand {padding: 30px 15px 12px; color: #727272;}
	#header .navbar-brand:hover {color: #868695;}
	#header .navbar-nav>li>a {padding: 30px 0 12px 20px;}
	#header .navbar-inverse .navbar-nav>li>a {font-size: 15px; color: #727272; text-transform: uppercase;}
	#header .navbar-inverse .navbar-nav>li>a:hover, 
	#header .navbar-inverse .navbar-nav>li>a:focus,
	#header .navbar-inverse .navbar-nav>li>a.active {color: #B2B2B2;}
	#header .navbar-inverse .navbar-nav>.open>a, 
	#header .navbar-inverse .navbar-nav>.open>a:hover, 
	#header .navbar-inverse .navbar-nav>.open>a:focus {background-color: transparent; color: #B2B2B2;}
	#header .dropdown-menu	{	border-color: #a9a9a9; padding: 0; width: 100%;
								border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0;
								box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;}
	#header .dropdown-menu>li>a {font-size: 13px; color: #727272; border-bottom: 1px solid #d9d9d9; padding: 9px 10px;}
	#header .dropdown-menu>li>a:hover, 
	#header .dropdown-menu>li>a:focus {background-color: transparent; color: #B2B2B2;}
	#header .dropdown-menu>li>a.active {color: #2B2B2B;}
	.customLogo {max-height: 50px; max-width: 100%; /*width: auto; position: absolute; bottom: 0; padding-bottom: 14px;*/ margin: 30px 0 10px;}
	
	#header.extra {}
	#header.extra .navbar-header {width: 100%; float: none; text-align: center;}
	#header.extra .navbar-header .navbar-brand {float: none; margin: 0; padding: 30px 0 0; display: inline-block;}
	#header.extra #menubar {text-align: center;}
	#header.extra #menubar .navbar-right {float: none!important; display: inline-block!important;}
	#header.extra #menubar .navbar-nav > li {float: none!important; margin: 0; padding: 0;}
	#header.extra #menubar .nav > li {display: inline-block;}
	#header.extra #menubar .navbar-nav > li > a {padding: 20px 12px 20px;}


    /* Grid Gallery
    -------------------------------------------------- */
	#grid_gallery {width: 100%; position: relative; overflow: hidden;}
	#grid_gallery *,
	#grid_gallery *:after,
	#grid_gallery *:before {box-sizing: content-box; -moz-box-sizing: content-box; -webkit-box-sizing: content-box;}
	
	#grid_gallery .modal {top: -40px;}
	#grid_gallery .modal-backdrop.in {background-color: #363636; opacity: 0.76; filter: alpha(opacity=76);}
	#grid_gallery .modal.fade .modal-dialog	{	-webkit-transform: translate(0, 25%);
												-ms-transform: translate(0, 25%);
												transform: translate(0, 25%);
												-webkit-transition: -webkit-transform 0.3s ease-out;
												-moz-transition: -moz-transform 0.3s ease-out;
												-o-transition: -o-transform 0.3s ease-out;
												transition: transform 0.3s ease-out;}
	#grid_gallery .modal-content	{	background: #fff; border: none; padding: 15px;
										border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0;
										box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;}
	#grid_gallery .modal-body {padding: 0;}
	#grid_gallery .modal-dialog {margin: 0 auto; width: 100%; max-width: 415px;}	
	#grid_gallery .modal-footer, .fancybox-title .modal-footer {height: 20px; border: none; padding: 0; margin-top: 10px; position: relative;}
	#grid_gallery .modal-footer ul.social, .fancybox-title .modal-footer ul.social {width: 100%; text-align: center; position: absolute; top: 0; left: 0; margin: 0; padding: 0; list-style-type: none; overflow: hidden;}
	#grid_gallery .modal-footer ul.social li, .fancybox-title .modal-footer ul.social li {float: left; margin-left: 10px;}
	#grid_gallery .modal-footer ul.social li:first-child, .fancybox-title .modal-footer ul.social li:first-child {margin-left: 0;}
	#grid_gallery .modal-footer ul.social li a, .fancybox-title	.modal-footer ul.social li a				{background: url(../img/social_sprite.png) no-repeat; height: 20px; display: block; font-size: 0;}
	#grid_gallery .modal-footer ul.social li a.facebook, .fancybox-title .modal-footer ul.social li a.facebook		{background-position: 0 0; width: 10px;}
	#grid_gallery .modal-footer ul.social li a.twitter, .fancybox-title .modal-footer ul.social li a.twitter			{background-position: -20px -1px; width: 19px;}
	#grid_gallery .modal-footer ul.social li a.mail, .fancybox-title .modal-footer ul.social li a.mail			{background-position: -50px 0; width: 22px;}
	#grid_gallery .modal-footer ul.social li a:hover.facebook, .fancybox-title .modal-footer ul.social li a:hover.facebook	{background-position: 0 -40px;}
	#grid_gallery .modal-footer ul.social li a:hover.twitter, .fancybox-title .modal-footer ul.social li a:hover.twitter	{background-position: -20px -41px;}
	#grid_gallery .modal-footer ul.social li a:hover.mail, .fancybox-title .modal-footer ul.social li a:hover.mail		{background-position: -50px -40px;}
	#grid_gallery .modal-footer .close_icon, .fancybox-title .modal-footer .close_icon {width: 20px; height: 16px; position: absolute; top: 0; right: 0;}
	#grid_gallery .modal-footer .close_icon a, .fancybox-title .modal-footer .close_icon a {background:url(../img/icon_close.png) 0 0 no-repeat; width: 20px; height: 16px; display: block; font-size: 0;}
	#grid_gallery .modal-footer .close_icon a:hover, .fancybox-title .modal-footer .close_icon a:hover {background:url(../img/icon_close.png) 0 -26px no-repeat;}
	
	#grid_gallery .carousel-control.left,
	#grid_gallery .carousel-control.right	{	background-image: none; width: 50%; opacity: 0; filter: alpha(opacity=0); 
												-webkit-transition: opacity 1s ease-in-out;
												-moz-transition: opacity 1s ease-in-out;
												-o-transition: opacity 1s ease-in-out;
												transition: opacity 1s ease-in-out;}
	#grid_gallery .carousel-control:hover {opacity:1;}
	#grid_gallery .carousel-control:hover.left {background: url(../img/arrow_left.png) 7% center no-repeat;}
	#grid_gallery .carousel-control:hover.right {background: url(../img/arrow_right.png) 93% center no-repeat;}
	
	#grid_gallery .maso_container {padding: 10px 10px 0; margin:0 auto;}
	#grid_gallery .maso_container .box {background: #fff; margin-bottom: 10px; width: 240px;}
	#grid_gallery .maso_container .box img {width: 100%;}
	#grid_gallery .maso_container .box .article {padding: 0; position: relative;}
	#grid_gallery .maso_container .box .article a {display: block; position: absolute; width: 100%; height: 100%; text-indent: -99999px;}
	#grid_gallery .maso_container .box .article .hover_caption {display: none; cursor: pointer; position: absolute; top: 0; left: 0; background: rgba(255,255,255,0.6); width: 100%; height: 100%; color:#fff !important; z-index: 10;}
	#grid_gallery .maso_container .box .article .hover_caption .top {position: relative; text-align: center; height: 40%;}
	#grid_gallery .maso_container .box .article .hover_caption span.icon	{	border: 3px solid rgba(0,0,0,.5); width: 50px; height: 50px; line-height: 45px; position: absolute; top: 50%; left: 50%; margin-left: -25px; margin-top: -25px; display: inline-block; color: rgba(0,0,0,.6); font-size: 20px;
																				border-radius: 100px; -moz-border-radius: 100px; -webkit-border-radius: 100px;}
	#grid_gallery .maso_container .box .article .hover_caption .bottom {width: 100%; overflow: hidden; padding-bottom: 10px; position: absolute; bottom: 0; color: #6E6C74; font-size: 12px;}
	#grid_gallery .maso_container .box .article .hover_caption h3 {font-family: 'Roboto', sans-serif; font-weight: 500; font-size: 18px; color: #808080; padding: 10px 10px 0; display: block;}
	#grid_gallery .maso_container .box .article .hover_caption .bottom p {padding: 15px 10px 0;}
	.buynow_button {display: none; padding-top: 1px; border-radius: .2em; margin-left: auto; margin-right: auto; width: 53px; height: 22px; text-transform: uppercase; cursor: pointer; background-color: #B8B8B8; color: #fff; font-size: 15px;}
	.buynow_button:hover{background-color: #E2E2E2;}
	.cp-modal {
		top: 10% !important;
		margin-left: -300px !important;
		max-width: 600px !important;
		height: 80% !important;
	}

    /* Blog
    -------------------------------------------------- */
	#blog {padding: 45px 10px 45px;}
	#blog ul {width: 820px; margin: 0 auto; padding: 5px 0; list-style-type: none;}
	#blog ul li {border-bottom: 1px solid #a9a9a9; margin: 0 0 22px; padding: 0 12px 32px; overflow: hidden;}
	#blog ul li:last-child {border: none; margin: 0; padding-bottom: 12px;}
	#blog a {color: #727272;}
	#blog a:hover {color: #B2B2B2;}
	
	#blog ul li .date,
	#blog ul li .desc {float: left;}
	#blog ul li .date {width: 165px; padding-right: 40px; text-align: right; font-size: 14px;}
	#blog ul li .date a.link,
	#blog .post .main .col.date a.link {display: block; margin-bottom: 15px; line-height: 1.5;}
	#blog ul li .desc {width: 535px;}
	#blog ul li .desc .img_holder {margin-bottom: 18px;}
	#blog ul li .desc .caption {font-size: 14px;}
	#blog ul li .desc .caption p {line-height: 1.6;}
	#blog ul.social {width: 100%; margin: 0; padding: 0; list-style-type: none; overflow: hidden;}
	#blog ul.social li {border: none; float: right; padding: 0; margin: 0 0 0 10px;}
	#blog ul.social li:last-child {margin-left: 0;}
	#blog ul.social li a					{background: url(../img/social_sprite.png) no-repeat; height: 20px; display: block; font-size: 0;}
	#blog ul.social li a.facebook			{background-position: 0 0; width: 10px;}
	#blog ul.social li a.twitter 			{background-position: -20px -1px; width: 19px;}
	#blog ul.social li a.mail 				{background-position: -50px 0; width: 22px;}
	#blog ul.social li a:hover.facebook 	{background-position: 0 -40px;}
	#blog ul.social li a:hover.twitter 		{background-position: -20px -41px;}
	#blog ul.social li a:hover.mail 		{background-position: -50px -40px;}
	
	#blog .post {width: 820px; margin: 0 auto;}
	
	#blog .post .goback {padding: 15px 0 0 195px; margin-bottom: 30px; font-family: 'Roboto', sans-serif; font-weight: 500; font-size: 18px; color: #7F7F7F; text-transform: uppercase;}
	#blog .post .goback a {position: relative;}
	#blog .post .goback a:hover {color: #B2B2B2;}
	#blog .post .goback a:before {content: ''; position: absolute; width: 70px; height: 25px; top: 2px; left: -107px; background: url(../img/back_sprite.png) no-repeat;}
	#blog .post .goback a:hover:before {content: ''; position: absolute; width: 70px; height: 25px; top: 2px; left: -107px; background: url(../img/back_sprite.png) no-repeat; background-position: 0 -29px;}
	
	#blog .post .goback-sm {width: 100%; font-family: 'Roboto', sans-serif; font-weight: 500; font-size: 18px; color: #7F7F7F; text-transform: uppercase; text-align: center; margin-bottom: 30px;}
	#blog .post .goback-sm a {height: 25px; display: block;}
	#blog .post .goback-sm a:hover,
	#blog .post .goback-sm a:focus {color: #B2B2B2;}
	#blog .post .goback-sm a span {background: url(../img/back_sprite.png) no-repeat; width: 67px; height: 25px; display: inline-block; vertical-align: middle; margin-right: 12px;}
	#blog .post .goback-sm a:hover span {background-position: 0 -29px;}
	
	#blog .post .main {overflow: hidden;}
	#blog .post .main .col {float: left;}
	#blog .post .main .col.date {width: 155px; margin-right: 40px; text-align: right;}
	#blog .post .main .col.desc {width: 625px; /*padding-right: 100px;*/ padding-right: 0; font-size: 14px;}
	#blog .post .main .col.desc p {line-height: 1.6;}
	#blog .post .main .col.desc .img_holder {margin-bottom: 15px;}


    /* Info
    -------------------------------------------------- */
	#info {padding: 10px 10px 0;}
	#info h2 {font-family: 'Roboto', sans-serif; font-weight: 500; font-size: 18px; color: #7F7F7F; text-transform: uppercase; margin-bottom: 20px;}
	#info p {margin-bottom: 35px; font-size: 14px; line-height: 1.6;}
	#info address {margin-bottom: 20px; font-size: 14px; line-height: 1.6;}
	#info address strong {font-family: 'Gudea', sans-serif; font-weight: 400; font-weight: normal; display: block; line-height: 1;}
	#info a {color: #727272;}
	#info .main {width: 800px; margin: 0 auto; padding: 45px 0; list-style-type: none; overflow: hidden; margin-bottom: 20px;}
	#info .main .col {float: left;}
	#info .main .col.left {width: 270px; margin-right: 0; padding-top: 0; word-break: break-word; padding-right: 40px;}
	#info .main .col.right {width: 500px;}
	
	#info .img_holder {margin-bottom: 26px;}


	/* Footer
    -------------------------------------------------- */
	#push,
	#footer {height: 35px;}
	#footer {border-top: 1px solid #a9a9a9; margin: 0 10px; padding: 15px 0; font-family: 'Gudea', sans-serif; font-weight: 400; font-size: 11px; color: #727272; overflow: hidden; position: relative;}
	#footer .left {padding-left: 45px; float: left;}
	#footer .left .social {display: inline-block; vertical-align: middle; margin-left: 30px;}
	#footer .left .social a {margin: 0 7px 10px 0;}
	#footer .right {padding-right: 45px; float: right;}
	#footer .right a {color: #727272;}
	#footer .right a:hover {color: #B2B2B2;}


	/* Temprory Classes */
	#grid_gallery .maso_container .box .title {position: fixed; background: rgba(255,255,255,.6); z-index: 10; padding: 10px; margin: 1px; /*width: 100%;*/ text-align: center; font-size: 14px; line-height: 1.3;}
	#grid_gallery .maso_container .box .title,
	#grid_gallery .maso_container .box .title:after,
	#grid_gallery .maso_container .box .title:before {box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;}
	#grid_gallery .maso_container .box .border {/*position: fixed; */ position: absolute; width: 100%; height: 58px; border: 1px solid #B8B8B8; top: 0; left: 0;}
	#grid_gallery .maso_container .box img {position: relative; z-index: 9;}


	/* Widget Classes */

	#widget_container{
		padding: 90px 40px 20px 30px;
		width: 1200px;
		margin-right: auto;
		margin-left: auto;
		max-width: 100%;
		/*height: 1000px;*/ height: auto!important; min-height: 100%; margin: 0 auto -45px;
	}

	#widget_container h1, 
	#widget_container h2,
	#widget_container h3, 
	#widget_container h4, 
	#widget_container h5, 
	#widget_container h6 {
		line-height: 1.4; text-align: left;
	}

	#widget_container p{
		line-height: 1.6;
		font-size: 14px; text-align: left;
	}

	#widget_container .label{
		display:none;
	}
	
	.fancybox-skin {border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0;}
	
	.call {display: none;}
	
	
	.contact_form {margin-top: 30px;}
	.contact_form * {}
	.contact_form input[type="text"],
	.contact_form input[type="password"],
	.contact_form textarea	{	border: 1px solid #C4C4C4; width: 100%; resize: none; color: #616161;
								border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0;}
	.contact_form input:focus,
	.contact_form textarea:focus {outline: none;}
	.contact_form textarea {height: 100px; padding: 10px;}
	.contact_form input[type="text"],
	.contact_form input[type="password"] {height: 36px; padding: 6px 10px; font-size: 12px;}
	.contact_form .btn	{	background: #B7B7B7; width: 100%; height: 38px; border: none; display: inline-block; padding: 0 25px; font-size: 13px; text-transform: uppercase; color: #fff;
							border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0;}
	.contact_form ul {list-style-type: none; margin: 0; padding: 0;}
	.contact_form ul li {margin-bottom: 25px;}
	.contact_form label.error, .contact_form span.message{color:#FF0000;}
	
	.event {}
	.event .box {border: 1px solid #ccc; font-size: 14px;}
	.event .caption {text-align: center; padding: 10px;}
	.event .caption h2 {font-size: 14px; line-height: 1.3; margin-bottom: 6px;}
	.event .caption p {line-height: 1; margin: 0;}
	.event .box .article a {position: relative!important;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
	.fill {min-height: 10px; background: #ccc;}
	
	.event-desc {font-size: 14px;}
	.event-desc h2 {font-size: 14px; margin-bottom: 5px;}
	.event-desc p {margin-bottom: 20px;}
	.event-desc .rsvp {}
	.event-desc .rsvp a {background: #727272; padding: 2px 16px 0; line-height: 33px; font-size: 18px; font-weight: 500; color: #fff!important; display: inline-block;}
	.no_events{width: 100%; text-align: center; padding-top: 200px; font-size: 20px;}
	#grid_gallery .maso_container .box.col1{width:240px;}
	#grid_gallery .maso_container .box.col2{width:490px;}